
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: linear-gradient(90deg, hsl(360, 91%, 36%) 0%, lightgray 0%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .min-max {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  
/* h1{
    color:blueviolet
}
.idea {
    font-size: 24px;
    color:black;
    padding: 10px
}

.restaurant {
    font-size: 24px;
    color:black;
    padding: 10px

}

button {
    padding: 16px;
    border-radius: 10px;
    font-size: 18px;
    background-color: red;
    border: none;
    color:white;
    margin-top: 36px;
}
input{
    height: 36px;
    padding:10px;
    margin: 10px;
    border: 2px solid purple;
} */